.demo
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.demo__top
{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 30%;
    right: 0;
}
.demo__bottom
{
    position: absolute;
    top: 70%;
    left: 0;
    bottom: 0;
    right: 0;
    margin-top: 10px;
}
.demo__bemjson
{
    margin-right: 5px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 50%;
}
.demo__template
{
    margin-left: 5px;
    position: absolute;
    top: 0;
    left: 50%;
    bottom: 0;
    right: 0;
}
